<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
Welcome <%= @user.name.capitalize %>

<%= link_to 'Edit', edit_user_path(@user) %><br>

<%= link_to "Your FAQs", user_faqs_path(@user.id) %>