/*@import "bootstrap-sprockets";
@import "bootstrap";*/
@import "materialize";

body{
	background: rgba(0, 0, 0, 0.035);
}

table {
    @extend %table !optional;
    margin-top: 10px;
    box-shadow: 1px 2px 3px 0px #B0B0B0;
    background: white none repeat scroll 0% 0%;
}

container{
	padding: 10px;
}

a{
	color: #26A69A;
}

.distant{	
	margin: 10px;
}

.qmain{
	padding: 10px;
    box-shadow: 1px 2px 3px 0px #B0B0B0;

    background: white none repeat scroll 0% 0%;
    /*border-top: 3px solid black;
    border-radius: 1px;
    box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.12), 1px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
	*/
}

.qtop, .qhead {
	border-bottom: 1px solid #e5e5e5;
	overflow: auto;
}
.qhead{
	font-size: 30px;
}

.qleft{
	width: 80%;
	float: left;
}

.qright{
	width: 20%;
	float: right;
	text-align: center;
}

.voteimg{
	opacity: 0.5;
}

.voteimg:hover{
	background: #eee;
}

.qbottom{
	padding-left: 30px;
	padding-right: 30px;
}
// <<<<<<< HEAD
#logo {
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 15px 0;
	a {
		color: #2F363E;
	}
}

#main_content {
	#content {
		float: none;
	}
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}

.right{
	text-align: right;
}

.xcomment{
	margin-top: 10px;
}

.comment_name{
	color: #337AB7;
	font-size: 20px;
}

.btn{
	width: auto;
}

.floating_button{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	padding: 10px;
}
.navbar-inner{
	background: rgb(233, 97, 103) none repeat scroll 0% 0%;
}
#logo {
	margin-left: 10px
}
#logo a {
    color: rgb(246, 246, 246);
}
.nav{
	float: right;
}

#popup, #new_link{
	float: right;
	z-index: 9999;
	position: fixed;
	bottom: 100px;
	right: 40px;
}

